@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 32px;
  padding: 0.5em;
}

.country-list {
  padding: 15px 10px;
  border: 2px solid black;
  max-width: max-content;
}

.countries {
  font-size: 20px;
  outline: none;
}

.info {
  font-size: 20px;
  padding: 1em;
}

